<div class="mt-3 mb-3">
	<h4>Trier par</h4>
	<div class="mb-2">
		<label for="" class="form-label">Nationalité</label>
		<select name="" id="" class="form-select" [(ngModel)]="search.nat">
			<option value="fr">Française</option>
			<option value="de">Allemande</option>
			<option value="en">Anglaise</option>
			<option value="es">Espagnole</option>
			<option value="dk">Danoise</option>
			<option value="it">Italienne</option>
			<option value="us">Americaine</option>
			<option value="pl">Polonaise</option>
			<option value="ru">Russe</option>
		</select>
	</div>

	<div class="mb-2">
		<label for="" class="form-label">Homme</label>
		<select name="" id="" class="form-select" [(ngModel)]="search.gender">
			<option value="male">Homme</option>
			<option value="female">Femme</option>
		</select>
	</div>

	<div class="mb-2">
		<label for="" class="form-label">Nombre de resultats</label>
		<select name="" id="" class="form-select" [(ngModel)]="search.results">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="20">20</option>
			<option value="50">50</option>
			<option value="100">100</option>


		</select>
	</div>

	<button class="btn btn-primary btn-sm w-100" (click)="loadUsers()">Rechercher</button>
</div>


<!-- {{ search | json }}  => Verification que la valeur est bien recuperer   -->
{{ search | json }}

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Photo</th>
			<th>Prénom</th>
			<th>Nom</th>	
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of userList">
			<td><img [src]="user.picture.thumbnail"></td>
			<td> {{ user.name.first }} </td>
			<td> {{ user.name.last }} </td>
		</tr>
	</tbody>
</table>
