<div class="p-4">
  <div>
    <!-- <p class="">{{ item.titre }}   {{ item.detail}}</p> -->
    <app-select-user [label]="'Recherche'" [(user)]="tasksService.search" firstOptionLabel="Choisissez un auteur" (change)="tasksService.filterTask()" ></app-select-user>
    <!-- <button class="btn btn-success btn-sm" (click)="tasksService.filterTask()">Filtrer</button> -->
  </div>
  <table class="table table-striped">
    <thead>
	<tr>
		<th>Status</th>
		<th>Tâche</th>
		<th>Auteur</th>
		<th>Supprimer</th>
		<th>Modifier</th>

	</tr>
    </thead>
    <tbody>
	    <tr *ngFor="let task of tasksService.filteredTaskList">
		    <td><input type="checkbox" [checked]="task.done"></td>
		    <td> {{ task.taskName }} </td>
		    <td> {{ task.user }} </td>

        <td>
          <button class="btn btn-danger btn-sm" (click)="tasksService.deleteTask(task.id)">X</button>
        </td>
        <td>
          <button class="btn btn-warning btn-sm" routerLink="/todoform/{{task.id}}">Mettre à jour</button>
        </td>
	    </tr>
    </tbody>
  </table>
</div>
