<div class="container-fluid p-4">
	<div class="mb-2">
		<label for="">Nom de la tâche</label>
		<input type="text" class="form-control"
		[(ngModel)]="task.taskName">
		
	</div>
	<div class="mb-2 form-check">
		<input type="checkbox" class="form-check-input"
		[(ngModel)]="task.done">
		<label for="" class="form-check-label">Terminée</label>	
	</div>
	<div class="mb-2">
		<label for="">Responsable</label>
		<select class="form-select"
		[(ngModel)]="task.user">
			<option *ngFor="let user of security.userList" [value]="user.login"> {{ user.userName }} </option>
	</select>
		
	</div>
	<button class="btn btn-primary" (click)="validateForm()">Ajouter une tâche</button>
</div>