
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8 p-4">

      <!-- NOTIFICATION -->
      <div class="alert alert-secondary" *ngIf="notification.hasMessage()">
        {{ notification.getMessage().text }}
      </div>
       
      <!-- NAVIGATION -->
      <p class="navbar-text me-2">
          {{ security.user.greet() }}
        </p>
      <nav class="mb-4 d-flex justify-content-end">
        <button class="btn btn-sm me-2 btn-primary" routerLink="/secure">Page Securisé</button>
        <button class="btn btn-sm btn-primary" routerLink="/login" *ngIf="! security.user.isAuthentificated;">Connexion</button>
        <button class="btn btn-sm btn-primary" *ngIf="security.user.isAuthentificated;" (click)="security.logout()">Deconnexion</button>

      </nav>

      <!-- LES PAGES -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

